{% extends "base.html" %} {% block content %}

<div class="continer">
  <form class="form" method="post" id="form">
    {% csrf_token %}
    <h4 class="card-title text-center" style="color: #0b5ed7" > Reset Password</h4>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %} {% endif %}
    <div class = "col-md-6 offset-md-3">
    <div class="form-group">
      <label for="password">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
   </div>
   <div class = "col-md-6 offset-md-3 p-3">
    <button class="btn btn-primary " type="submit">Submit</button>
  </div>
  </form>
</div>

{% endblock %}
